/*background: linear-gradient(151deg, rgba(207,207,207,0.8045343137254902) 0%, rgba(19,19,19,1) 73%);*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e2e4eb;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
}

body {
    position: relative;
    background: Black;
    height: auto;
    width: 100%;
}

hr {
    border: 2px solid rgba(19,19,19,.5);
    border-radius: 4px;
    display: block;
    width: 100%;
}

header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    top: -70px;
    z-index: 6000;
    transition: top .3s ease-in-out;
}

nav {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(207,207,207,.5);
    border-radius: 0 0 20px 20px;
    height: 70px;
    justify-content: space-around;
    display: flex;
    width: 100%;
    position: relative;
    
}

header:hover {
    top: 0;
}

header::before {
    content: "Menu";
    height: 25px;
    width: 65px;
    border-radius: 10px 12px 160px 160px / 11px 13px 170px 170px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(207,207,207,.5);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10%;
}

.img {
    height: 50px;
}

.nav-logo span {
    font-size: 2rem;
    text-align: center;
}

.nav-link {
    display: flex;
    margin-right: 10%;
}
.nav-link ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-link ul li {
    display: block;
    margin: auto 5px;
    text-align: center;
    width: 110px;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
}
.link:hover {
    text-decoration: underline;
}

.home-section {
    align-items: center;
    background-image: url(./images/background.jpeg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100dvh;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.home-section::before {
    content: "ANTOINE FERRON";
    font-size: 13rem;
    font-weight: bold;
    display: block;
    position: absolute;
    color: transparent;
    text-shadow: 0 0 30px rgba(0,0,0,.3);
    z-index: 0;
}

.home-content {
    background: rgba(203, 113, 236, 0);
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 5px #f5797980 inset,
                -4px -4px 5px #f5797980 inset;
    border-radius: 15px;
    margin-bottom: 100px;
    padding: 15px;
    width: 40%;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 200;

}

.title-background {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(203, 113, 236, 0);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px 2px rgba(19,19,19,.2),
                2px 2px 5px #ffffff80 inset;
    border-radius: 15px;
    width: 40%;
}

.title h2 {
    letter-spacing: 5px;
}

h1 {
    display: block;
    letter-spacing: 5px;
    font-size: 4rem;
    text-align: center;
}

.home-content p {
    font-size: 1.5rem;
}

.home-img {
    border-radius: 40px;
    box-shadow: 2px 2px 5px 2px rgba(19,19,19,.5);
    margin-bottom: 100px;
    overflow: hidden;
    height: 325px;
    z-index: 3;
}
.home-img img {
    height: 100%;
}

.home-journey {
    background: linear-gradient(146deg, #cfcfcf 0%, #223344 80%);
    height: 100dvh;
    position: relative;
    width: 100%;
}