*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: red;
    height: 100dvh;
    width: 100%;
}

.img {
    width: 50px;
}

header {
    width: 100%;
}

nav {
    background-color: aqua;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

nav div:nth-child(1) {
    display: flex;
    align-items: center;
}
div span {
    font-size: 2rem;
    text-align: center;
}

nav div:nth-child(2) {
    display: flex;
    
    width: auto;
}